<!DOCTYPE html>
<html lang="en" ng-app="advanced2">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>The first class work. kolesnikdenis+ add antianimal + test +11</title>
</head>

<body ng-controller="MainController">
<div class="container">
    <div class="page-header">
        <h1>from ubuntu Angular Js</h1>
    </div>
    <input type="text" ng-model="x">
    +
    <input type="text" ng-model="y">
    <button class="btn btn-primary" ng-click="calc()">Calc</button>
    <span ng-if="summ !== 0">
        = {{summ}}
    </span>
    <ng-include src="'./app/views/bookslist.html'"></ng-include>

    <ng-include src="'./app/views/category.html'"></ng-include>


    <!-- <ng-include src="'./app/views/panel.html'"></ng-include> -->
</div>

<script src="/node_modules/angular/angular.js"></script>
<script src="./app/app.js"></script>
<script src="./app/controllers/MainController.js"></script>
<script src="./app/controllers/BooksListController.js"></script>
<script src="./app/controllers/category.js"></script>
<script data-require="lodash.js@4.11.1" data-semver="4.11.1" src="https://cdn.jsdelivr.net/lodash/4.11.1/lodash.js"></script>
<script>
    function show_menu(items) {
        _.forEach(items, function(item, key1) {
            var ul = document.createElement('ul');
            li = document.createElement('li');
            li.setAttribute("id", "menu_ul_" + item.id);
            var menu_link = document.createElement('a');
            menu_link.href = 'javascript:alert("' + item.id + '");';
            var textNode = document.createTextNode(item.name);
            menu_link.appendChild(textNode);
            li.appendChild(menu_link);
            ul.appendChild(li);
            if (item.subsections == 0) {
                document.body.appendChild(ul); /* вывод корневых .. */
            } else {
                //$$('li#menu_ul_' + item.subsections).append(ul); /* добавляем пункты */
            }
        });
    }

</script>
</body>
</html>
