<div ng-controller="api_controller">
    <button class="btn btn-info btn-xs" ng-click="showCategories()">показать категории</button>
    <ul >
        <li ng-repeat="menu in items">{{ menu.name }}
            <ul ng-if="menu.subb.length > 0">
                <li ng-repeat="menu1 in menu.subb"><a href="#" ng-click="show(menu1.name)">{{ menu1.name }}</a>
                    <ul ng-if="menu1.subb.length > 0">
                        <li ng-repeat="menu2 in menu.subb"><a href="#" ng-click="show(menu2.name)">{{ menu2.name }}</a></li>
                    </ul></li>
            </ul>
        </li>
    </ul>

</div>

