<div>
    <div ng-show="markert_work.id >=0">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">описание маркера:</span>
                <input type="text" ng-change="changeTitle()" placeholder="Title" class="form-control" ng-model="markert_work.title">
                <span class="input-group-text"> / </span>
                <input type="text" ng-change="changeDesc()" placeholder="Description" class="form-control" ng-model="markert_work.desc">
            </div>
            <!--<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">-->
        </div>
        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="0.1" data-slider-value="1">
    </div>


    <style>
        #ex1Slider .slider-selection {
            background: #BABABA;
        }

        #map {
            height:420px;
            width:600px;
        }
        .infoWindowContent {
            font-size:  14px !important;
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }
    </style>

    <div id="map"></div>
    <div id="class" ng-repeat="(key, marker) in places " >
        <a href="http://kolesnikdenis.com/a-level/test/index.html#/map#"ng-click="openInfoWindow($event, marker)">{{marker.title}} {{marker.lat}} {{marker.lng}}</a><button type="button" ng-click="del_dot(key)" class="btn btn-danger"><i class="fa fa-trash" ></i></button>
    </div>
    <i class="fas fa-trash-alt"></i>

</div>